
.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background-color: rgba(41, 204, 26, 0.336);
  margin-top: 80px;
}

.padre {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-family: Arial, sans-serif;
  align-items: flex-start;
}


.nombre,
.apellido,
.correo,
.nacimiento,
.contraseña,
.telefono,
.direccion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: Arial, sans-serif;
}
