.title {
  text-align: center;
  font-family: Impact, sans-serif;
}

body {
  font-family: 'Google Sans', Arial, sans-serif;
  min-height: 100vh;
  background-image: url('/FondoAgroControl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background-color: #2b8809;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Google Sans', Arial, sans-serif;
  height: 40px;
  width: 100px;
  padding: 10px;
}

input {
  flex: 1;
  width: 100%;
  padding: 5px;
  border: 1px solid #fffbfb;
  border-radius: 4px;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background-color: rgba(17, 255, 0, 0.177);
  margin-top: 80px;
}

.padre {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-family: Arial, sans-serif;
  align-items: flex-start;
}